html {
    font-size: 10px;
    /* background: url(https://i.imgur.com/b9r5sEL.jpg) bottom center; */
    background-size: cover;
    background-color: hsl(257, 23%, 6%);
    background: url('mUi7EzF.jpg') right;
}
  
  body,
  html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  .container {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  h1 {
    font-size: 36px;
    font-family: fantasy;
    letter-spacing: 1.2px;
    color: #00bbd4;
  }
  
  .keys {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .key {
    border: 0.4rem solid #adadad;
    border-radius: 0.5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem 0.5rem;
    transition: all 0.07s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    text-shadow: 0 0 0.5rem black;
    cursor: pointer;
  }
  
  .playing {
    transform: scale(1.1);
    border-color: #00bbd4;
    box-shadow: 0 0 1rem #00bbd4;
  }
  
  kbd {
    display: block;
    font-size: 4rem;
  }
  
  .sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: #00bbd4;
  }
  